body, html
  height 100%
body
  margin 0
  background black
main
  position relative
  transform translateY(-50%)
  top 50%
  canvas
    display block
    margin 0 auto
  #logo
    position absolute
    top 550px
    width 100%
    img
      width 106px
      height auto
      display block
      margin 0 auto